@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.grid__item {
    width: 300px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    border-radius: 20px;
    margin: 10px;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__content {
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.card__header {
  color: #0d0d0d;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 28px;
  overflow-wrap: break-word;
}
.card__header:hover{
  cursor: pointer;
}
.card__text {
  color: #3d3d3d;
  overflow-wrap: break-word;
}
.card__btn {
  display: block;
  width: 100%;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}

.map-container{
  margin: 10px auto;
  width: 90%;
  height: 400px;
}

.card__sending{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#grayedOut{
  background-color: rgba(128, 128, 128, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9990;
  background-color: white;
  border-radius: 20px;
  min-width: 500px;
  width: 40%;
  height: 92%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.popupImage {
  display: block;
  max-height: 50%;
  max-width: 95%;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 20px;
}
.popupContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
  text-align: center;
}
#pages{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
}
#pages button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 30px;
  border: 0;
}
.pageButtonOn{
  background-color: white;
}
.pageButtonOn:hover{
  background-color: #ddd;
  transition-duration: 200ms;
}
.pageButtonOff{
  background-color: white;
  color: #ddd;
}
.pageButtonOff:hover{
  cursor: default;
}
#noProblemsParagraph{
  color: #64748B;
}

.popupImage:hover, .card__img:hover{
  cursor: pointer;
}

#imageBackground{
  background-color: rgba(128, 128, 128, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
.bigImage{
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  z-index: 9999;
}

.popupSendingGif{
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.problemsTabs{
  display: flex;
}
.problemsTabWrapper{
  display: flex;
  flex-direction: column;
  margin: 30px 30px 0 30px;
}
.problemsTabButton{
  color: #0D6EFD;
  font-family: 'Readex Pro', sans-serif;
  border: none;
  padding: 0 10px;
  margin-bottom: 10px;
}
.problemsTabBorder{
  border-radius: 3px 3px 0 0;
  border-top: 3px solid #0D6EFD;
}
.notSelectedProblemsTabButton:hover{
  color: #CED4DA;
  transition-duration: 200ms;
}

.problemsFilters{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#problemListSearchBar{
  max-width: 500px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.problem-dropdown {
  position: relative;
  border: none;
  margin-bottom: 20px;
  margin-left: 20px;
}
.problem-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: white;
}
.problem-dropdown button{
  width: 200px;
  border: 1px solid #CED4DA;
  padding: 6px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.problem-dropdown p {
  margin: 0;
}
.problem-dropdown-menu:hover {
  cursor: pointer;
}
.problem-dropdown-element{
  border: 1px solid #CED4DA;
  border-top: none;
  padding: 6px;
}
.problem-dropdown-element:hover{
  background-color: #DDD;
  transition-duration: 200ms;
}
.problem-dropdown-first-element{
  height: 5px;
  margin-top: -5px;
  border-left: 1px solid #CED4DA;
  border-right: 1px solid #CED4DA;
}
.mapProblemsDropdownWrapper{
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
}