.user-dropdown {
    position: relative;
    border: none;
}
.user-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: white;
}
.user-dropdown button{
    width: 80px;
    border: 1px solid #CED4DA;
    padding: 0 6px 2px 6px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-dropdown p {
    margin: 0;
}
.user-dropdown-menu:hover {
    cursor: pointer;
}
.dropdown-element{
    border: 1px solid #CED4DA;
    border-top: none;
}
.dropdown-element:hover{
    background-color: #DDD;
    transition-duration: 200ms;
}
.dropdown-first-element{
    height: 5px;
    margin-top: -5px;
    border-left: 1px solid #CED4DA;
    border-right: 1px solid #CED4DA;
}

.small{
    width: 45px;
}
.medium{
    width: 100px;
}
.large{
    width: 300px;
}
.pointerOnHover:hover{
    cursor: pointer;
}

.userElements{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userRow{
    display: flex;
    background-color: white;
    margin-top: 5px;
    justify-content: space-around;
}

.userRow.header{
    margin-top: 0;
    color: #64748B;
}

.listWrapper ul{
    margin: 30px;
    border-left: 30px solid white;
    border-right: 30px solid white;
    padding: 0;
    border-radius: 15px;
}

#addUserGrayedOut{
    background-color: rgba(128, 128, 128, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

#addUserPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    border-radius: 20px;
    padding: 60px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#createUserButton{
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.userButtons{
    border-radius: 100%;
    padding: 10px;
    aspect-ratio: 1/1;
}

.userButtons:hover{
    background-color: #ddd;
    transition-duration: 200ms;
    cursor: pointer;
}